// _sign-in.scss
// 
// Template's sign in page styles.
// 


// Sign In Page
.sign-in {
    padding: 0px 20px;
	.col-img img {
		width: 100%;
		max-width: 500px;
		margin: auto;
		display: block;

		@media( min-width: $lg) {
			margin: 0;
		}
	}
	.col-form .ant-switch {
		margin-right: 5px;
	}
	.ant-form-item-label {
		line-height: 28px;
	}
	.ant-form-item label {
		font-size: 13px;
		font-weight: $fw-semibold;
		color: $color-gray-12;
	}
}


#layout-login{
	position: absolute;
	padding-top: 120px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;

	//background: rgb(255,255,255);
	background: linear-gradient(125deg, rgba(255,255,255,1) 53%, $color-primary 53%);  
}
// / Sign In Page